* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
@font-face{font-family:prox; src: url(../fonts/Proxima.otf);}
@font-face{font-family:znik; src: url(../fonts/Znikomit.otf);}
    
header {
    margin-top: .5em;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #DBDBEA;
    border-bottom: 1px solid #DBDBEA;
}

.bars {
    flex:0 0 3em;
    height: 3em;
    text-align: center;
    border-right: 1px solid #DBDBEA;
}
.bars i {width:1.5em; line-height: 3em; cursor:pointer; color:grey;}

.title {flex:1 0 50%;}
h1 {
    height: 2.4em;
    text-align: center;
    line-height:2.4em; 
    font-family: znik;
    font-size: 20px;
}
h3 {display: none;}

.search {
    flex:0 0 3em;
    height: 3em;
    text-align: center;
    border-left: 1px solid #DBDBEA;
}
.search i {width:1.5em; line-height: 3em; cursor:pointer; color:grey;}

.touch {
    flex: 0 0 100%;
    height: 2em;
    text-align:right;
}
.touch span {line-height:3em; padding-right:2em; font-family:prox; font-size:11px; color:#D90000;}

main {
    display: flex;
    position: relative;
    flex-direction: column;
}
.img {
    width: 100%;
}

.text_over {
    width: 20%;
    min-width: 8em;
    height: 1.7em;
    position: absolute;
    top:3.8em;
    text-align: center;
    background-color: white;
}
.text_over span {line-height:2.1em; font-family:prox; font-size:14px;}

.tile_wrapper {text-align: center;}
.tile_wrapper span {display: none;}
.tile_wrapper2 span{display: none;}
.tiles {
    display: flex;
    flex-direction: row;
    height: 8em;
    margin: 30px 15px 0 15px; 
    border-bottom: 1px solid #B9B9C8;
}
.tile_text {margin-left: .8em; line-height: 26px; text-align:left; font-family: prox; font-size: 18px;}
#hide {display: none;}
.img_tile {
    width: 7em;
}

.more {
    height: 1.2em;
    margin: 1em 1em 3em 1em;
    padding: 1px 10px 1px 10px;
    text-align: center;
    background-color: #f5f5f5;;
}
.more span {display: block; line-height: 1.9em; font-family: prox; font-size: 11px;}





/*for tablet - inclusive*/





@media only screen and (min-width : 48em) { 

    header {
        height: 3.4em;
        margin-top: 1em;
        border-bottom:0;
    }
    .bars {
        margin-left: 2em;
        border-right:0;
        font-size: 22px;
    }
    
    .title {
        display: inline;
        flex: 1 0 30%;
    }
    h1 {
        flex:1 0 35%;
        height: 2em;
        display: inline;
        text-align: left;
        line-height:2em; 
        font-size: 30px;
    }
    h3 {
        display: inline;
        margin-left: 1em;
        font-family: prox;
        font-size: 10px;
    }
    .search {
        flex:0 0 12em;
        height: 1.5em;
        margin: .5em 1.5em 0 0;
        text-align: right;
        border:1px solid #DBDBEA;
        font-size: 22px;
    }
    .search i {line-height: 1.5em; color:white; background-color: black; text-align: center;}
    .touch {
        margin-left: 6.8em;
        text-align:left;
    }
    .touch span {line-height:1em;}
    
    .img_place:nth-of-type(2) {
        margin-bottom: 3em;
    }
    .text_over {
        display: none;
    }
    
    main {
    display: flex;
    position: relative;
    flex-direction: column;
    }
    
    .tile_mega_wrapper {display: flex}
    .tile_wrapper {flex:1 0 35%;}
    .tile_wrapper2 {
        flex: 1 0 40%;
        position: relative;
        margin-left: 3em;
        padding:0 2em 0 3em;
        text-align: center;
        background-image: linear-gradient(to bottom, #333 20%, rgba(255, 255, 255, 0) 0%);
        background-position: left;
        background-size: 1px 10px;
        background-repeat: repeat-y;
    }
    .tile_wrapper span {display: block; margin-bottom: 40px; font-family:prox; font-size:26px;}
    .tile_wrapper2 span {display: block; margin-bottom: 30px; font-family:prox; font-size:26px;}
    .tiles {
        margin: 30px 15px 0 15px; 
    }
    .tile_text {margin-left: .8em; line-height: 1.3em; font-family: prox; font-size: 14px;}
    #hide {display: flex;}
    .img_tile {
        width: 7em;
    }
    .more span {font-size: 11px;}
}
